#abouts{
    background-color: aqua;color: darkorchid;
}
#contactus{
    background-color: chartreuse;color: blue;
}
#electric{
    background-color: burlywood; color: crimson;
}
#hooshe{
    background-color: darkgreen;color: darkorchid;
}
#index{
    background-color: bisque; color: gray;
}
#salamati{
    background-color: firebrick; color: deeppink;
}
#startup{
    background-color: maroon; color: red;
}
#tried{
    background-color: aquamarine;color: burlywood;
}